---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import MailIcon from "../components/icons/Mail.astro";
import Experience from "../components/Experience.astro";
import BriefCase from "../components/icons/BriefCase.astro";
import CodeIcon from "../components/icons/Code.astro"
import Projects from "../components/Projects.astro";
import PersonIcon from "../components/icons/Person.astro"
import BookIcon from "../components/icons/Book.astro"
import Skills from "../components/Skills.astro";
import Footer from "../components/Footer.astro"

/*const SECTIONS= [
  {
    id:
    tiitle:
    component-1:
    component-2:
  }
]*/
---

<Layout
  title="Portfolio de Samuel Hurtado-Desarrollador y Programador web"
  description="Contrata a Samuel Hurtado para desarrollar tu aplicación web o movil."
>
  <main class="px-4">
    <SectionContainer class="py-44 pb-32">
      <img class="w-20 h-20 rounded mb-10 " src="./src/components/icons/profile.jpg" alt="samuel avatar" />
 
      <h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
        Hola, soy Samuel <a
          href="https://www.linkedin.com/in/samuel-hurtado-07a108219/"
          target="_blank"
          rel="opener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        <span>Estudiante de Ingeniería Informática.</span>
        <span class="text-blue-200/90"
          >Apasionado por el desarrollo web Full Stack.</span
        >
        <span class="text-purple-200/90">De Medellín, Colombia.</span> Siempre motivado
        en adquirir nuevos conocimientos.
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill
          href="https://www.linkedin.com/in/samuel-hurtado-07a108219/"
        >
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>

        <SocialPill href="https://github.com/ShurtadoT">
          <GitHubIcon class="size-4 md:size-6" />GitHub
        </SocialPill>

        <SocialPill href="mailto:hurtadost055@gmail.com">
          <MailIcon class="size-4 md:size-6" />hurtadost055@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <BookIcon class="size-7" />
        Conocimientos
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <BriefCase class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <PersonIcon class="size-7" />
        Sobre mi
      </h2>
      <p class="text-lg mb-10 text-pretty">Soy Samuel Hurtado Taborda, estudiante de Ingeniería Informática en la Institución Universitaria de Envigado. Me apasionan la música, los libros y el desarrollo web. Mi formación académica me ha permitido explorar, analizar, crear e innovar con diversas tecnologías. Siempre estoy en constante búsqueda de nuevos conocimientos y desafíos, poniendo a prueba mis habilidades para seguir aprendiendo y creciendo profesionalmente.</p>
    </SectionContainer>

    

    <SectionContainer id="habilidades">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-7" />
        Mis Habilidades
      </h2>
      <Skills />
    </SectionContainer>

    <SectionContainer id="contact">
      <Footer/>
      
    </SectionContainer>

    

  </main>
</Layout>
