<header class="flex justify-center items-center py-5 wfull xl:w-[1120px] mx-auto sticky top-0 z-50 bg-black/300 backdrop-blur-lg  ">
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="#top" class="text-gray-200 hover:text-purple-400 transition-colors duration-300">Inicio</a>
        <a href="#experiencia" class="text-gray-200 hover:text-purple-400 transition-colors duration-300">Conocimientos</a>
        <a href="#proyectos" class="text-gray-200 hover:text-purple-400 transition-colors duration-300">Proyectos</a>
        <a href="#sobre-mi" class="text-gray-200 hover:text-purple-400 transition-colors duration-300">Sobre mi</a>
        <a href="#habilidades" class="text-gray-200 hover:text-purple-400 transition-colors duration-300">Habilidades</a>
        <a href="#contact" class="text-gray-200 hover:text-purple-400 transition-colors duration-300">Contacto</a>
    </nav>
</header>
