---
import HtmlIcon from "./icons/Html.astro";
import CssIcon from "./icons/Css.astro";
import JavaScriptIcon from "./icons/JavaScript.astro";
import PythonIcon from "./icons/Python.astro";
import UnityIcon from "./icons/Unity.astro";
import MySqlIcon from "./icons/Mysql.astro";
import MongoDBIcon from "./icons/MongoDB.astro";
import GitIcon from "./icons/Git.astro"
import GitHubIcon from "./icons/GitHub.astro"



---

<article>
  <div class="flex justify-between mb-1">
    <span class="text-base font-medium text-white-700 dark:text-white">
      HTML
    </span>
    <span class="bg-black text-white">
      <HtmlIcon />
    </span>
  </div>
  <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700 mb-5">
    <div class="bg-purple-600 h-2.5 rounded-full" style="width: 90%"></div>
  </div>
</article>

<article>
  <div class="flex justify-between mb-1">
    <span class="text-base font-medium text-white-700 dark:text-white">
      CSS
    </span>
    <span class="bg-black text-white">
      <CssIcon />
    </span>
  </div>
  <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700 mb-5">
    <div class="bg-purple-600 h-2.5 rounded-full" style="width: 90%"></div>
  </div>
</article>

<article>
  <div class="flex justify-between mb-1">
    <span class="text-base font-medium text-white-700 dark:text-white">
      JavaScript
    </span>
    <span class="bg-black text-white">
      <JavaScriptIcon />
    </span>
  </div>
  <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700 mb-5">
    <div class="bg-purple-600 h-2.5 rounded-full" style="width: 40%"></div>
  </div>
</article>

<article>
  <div class="flex justify-between mb-1">
    <span class="text-base font-medium text-white-700 dark:text-white">
      UnityHub
    </span>
    <span class="bg-black text-white">
      <UnityIcon />
    </span>
  </div>
  <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700 mb-5">
    <div class="bg-purple-600 h-2.5 rounded-full" style="width: 60%"></div>
  </div>
</article>

<article>
  <div class="flex justify-between mb-1">
    <span class="text-base font-medium text-white-700 dark:text-white">
      Python
    </span>
    <span class="bg-black text-white">
      <PythonIcon />
    </span>
  </div>
  <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700 mb-5">
    <div class="bg-purple-600 h-2.5 rounded-full" style="width: 55%"></div>
  </div>
</article>

<article>
  <div class="flex justify-between mb-1">
    <span class="text-base font-medium text-white-700 dark:text-white">
      MySQL
    </span>
    <span class="bg-black text-white">
      <MySqlIcon />
    </span>
  </div>
  <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700 mb-5">
    <div class="bg-purple-600 h-2.5 rounded-full" style="width: 50%"></div>
  </div>
</article>

<article>
  <div class="flex justify-between mb-1">
    <span class="text-base font-medium text-white-700 dark:text-white">
      MongoDB
    </span>
    <span class="bg-black text-white">
      <MongoDBIcon />
    </span>
  </div>
  <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700 mb-5">
    <div class="bg-purple-600 h-2.5 rounded-full" style="width: 40%"></div>
  </div>
</article>

<article>
  <div class="flex justify-between mb-1">
    <span class="text-base font-medium text-white-700 dark:text-white">
      Git y GitHub
    </span>
    <span class="bg-black text-white">
      <GitIcon /> 
    </span>
  </div>
  <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700 mb-5">
    <div class="bg-purple-600 h-2.5 rounded-full" style="width: 38%"></div>
  </div>
</article>

